<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td width="100">ID</td>
        <td width="100">品牌</td>
        <td width="100">型号</td>
        <td width="100">编码</td>
        <td width="100">日期</td>
        <td width="100">来源</td>
        <td width="100">备注</td>
        <td width="150">借出或归回状态</td>
        <td width="150">借出或归还姓名</td>
        <td width="150">借出或归还时间</td>
    </tr>
    </thead>
    <tbody>
    {% for pad in padList %}
    <tr>
        <td width="100">{{pad.pad_id}}</td>
        <td width="100">{{pad.brand}}</td>
        <td width="100">{{pad.model}}</td>
        <td width="100">{{pad.encode}}</td>
        <td width="100">{{pad.time}}</td>
        <td width="100">{{pad.source}}</td>
        <td width="100">{{pad.remarks}}</td>
        <td width="150">{{pad.use_state}}</td>
        <td width="150">{{pad.use_name}}</td>
        <td width="150">{{pad.use_time}}</td>
    </tr>
    <tr>
        <td width="100"><a href="{% url 'addLog' pad_id=pad.pad_id %}">新建日志</a></td>
        <td width="100"><a href="{% url 'qrCode' pad_id=pad.pad_id %}">下载二维码</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <td width="150">借出或归回状态</td>
        <td width="150">借出或归还姓名</td>
        <td width="150">借出或归还时间</td>
    </tr>
    </thead>
    <tbody>
    {% for log in logList %}
    <tr>
        <td width="150">{{log.state}}</td>
        <td width="150">{{log.time}}</td>
        <td width="150">{{log.name}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<p>二维码</p>
{% load qr_code %}
{% qr_from_text url size="M" %}
</body>
</html>
