<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td width="100">品牌</td>
        <td width="100">型号</td>
        <td width="100">日期</td>
        <td >来源</td>
        <td >状态</td>
    </tr>
    </thead>
    <tbody>
    {% for i in padList %}
    <tr>
        <td width="100">{{i.brand}}</td>
        <td width="100">{{i.model}}</td>
        <td width="100">{{i.time}}</td>
        <td >{{i.source}}</td>
        <td >{{i.state}}</td>
        <td><a href="{%url 'padLog' pad_id=i.pad_id%}">查看</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>