<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method='get' action="/search/" target="_blank">
    {% csrf_token %}
    <br>
    <input type="text" name="q">
    <input type="submit" value="查询">
    <br>
</form>
<table>
    <thead>
    <tr>
        <td width="100">品牌</td>
        <td width="100">型号</td>
        <td width="100">日期</td>
        <td>来源</td>
        <td>状态</td>
        <td><a href="{% url 'addPad' %}">新建</a></td>
    </tr>
    </thead>
    <tbody>
    {% for pad in padList %}
    <tr>
        <td width="100">{{pad.brand}}</td>
        <td width="100">{{pad.model}}</td>
        <td width="100">{{pad.time}}</td>
        <td>{{pad.source}}</td>
        <td>{{pad.state}}</td>
        <td><a href="{%url 'padLog' pad_id=pad.pad_id%}">查看</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>